ai-talent-screening-system/ai-cv-screening-human-approval-workflow.json.json
{
  "name": "inerview process automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2048,
        -80
      ],
      "id": "49ddb307-cbb6-4760-8c75-61f0ef358cea",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'1ja_UFEJ7u2yTIPunk82R6iimWqtELjy-' in parents and mimeType = 'application/pdf'",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1920,
        160
      ],
      "id": "70fd74e2-43d9-47be-9192-89b769a5740a",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Xy29OSQgG4IGOE2r",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1760,
        -80
      ],
      "id": "5b060af1-1b29-4587-8aca-d3203e7cc014",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1664,
        176
      ],
      "id": "160902f5-e6c1-4ed5-a515-8884ce4a050d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Xy29OSQgG4IGOE2r",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1488,
        176
      ],
      "id": "bbfaae95-86f0-4dae-9f85-d6353c3f1af3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please analyse the following Curriculum Vitae content and return relevant details about the applicant and your recommendation about the applicants suitability to fill the position as senior frontend developer:  {{ $json.text }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "\nSystem Message\n--------------\n\n# Role\nYou are a Human Resources employee working for a software development company. Your role is to analyse Curriculum Vitae's of applicants for a senior development position where the user must possess skills at a senior level in javascript programming and have appropriate experience developing software using associated technologies with javascript (e.g. React js or Next js).\n\n# Instructions\nFollow these steps in analysing a Curriculum Vitae and outputting relevant data in your response\n1. Read through the provided information \n2. Get the applicants full name and email address from the Curriculum Vitae\n3. Get the total number of years of experience the applicant has working with C# and associated technologies\n4. Get notable features about the applicants qualifications\n5. Get notable features about the applicants work experience\n6. Conclude as to whether you would recommend the applicant for the position of senior C# developer\n\n# Rules\n1. javascript or react is the most important skill for the applicant to have. If the applicant does not have javascript or react experience don't recommend the applicant for the position.\n\nExample of Structured JSON Output\n---------------------------------\n\n{\n\t\"fullName\": \"Bob Jones\",\n\t\"email\": \"bobjones@gmail.com\",\n\t\"cSharpYearsExperience\": 5,\n\t\"notableQualifications\": \"The applicant has an honours degree in Computer Science\",\n\t\"notableWorkExperience\": \"The applicant has worked on several projects using javascript/react js and next js. The applicant also has significant experience working with AI\",\n\t\"Recommended\":true\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1168,
        -48
      ],
      "id": "d6e0cd9d-57df-419b-82a3-d2c3e30da0ec",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1264,
        240
      ],
      "id": "2fe2d7b4-9bb4-4677-ab25-ceba6a78c0ff",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0rshjCaBmX8R8Jaz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "     \n{\n\t\"fullName\": \"Bob Jones\",\n\t\"email\": \"bobjones@gmail.com\",\n\t\"cSharpYearsExperience\": 5,\n\t\"notableQualifications\": \"The applicant has an honours degree in Computer Science\",\n\t\"notableWorkExperience\": \"The applicant has worked on several projects using javascript/react js and next js. The applicant also has significant experience working with AI\",\n\t\"Recommended\":true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1008,
        160
      ],
      "id": "f0afcda1-972e-4e19-be84-6c93efacd56b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "kashifullah.dev@gmail.com",
        "subject": "Approval Required",
        "message": "=Please approve or disapprove this applicant?\n\nApplicant Details:\nName: {{ $json.output.fullName }}\nEmail: {{ $json.output.email }}\n\nYears of Experience with C#: {{ $json.output.cSharpYearsExperience }}\n\nNotable Qualifications:\n{{ $json.output.notableQualifications }}\n\nNotable Work Experience\n{{ $json.output.notableWorkExperience }}\n\nMy Recommendation\n{{ ($json.output.Recommended?\"I recommend this applicant\":\"I do not recommend this applicant\") }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -816,
        -48
      ],
      "id": "288db6bb-0105-487c-942c-77da2ba86f4f",
      "name": "Send a message",
      "webhookId": "e436af86-520c-4aa1-a739-0469a2b23052",
      "credentials": {
        "gmailOAuth2": {
          "id": "GjGSOaBVgiMKebpJ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Search files and folders": [
      {
        "json": {
          "id": "1x1mnYlYUw3L-eaELFLT53KMgaLpOh0kM",
          "name": "n8n-Kashif-CV.pdf"
        }
      },
      {
        "json": {
          "id": "1mv93GK9jSwcuurbcn-azfDP-ISsYJyhs",
          "name": "Kashif_Ullah_React_Developer.pdf"
        }
      }
    ],
    "Extract from File": [
      {
        "json": {
          "numpages": 2,
          "numrender": 2,
          "info": {
            "PDFFormatVersion": "1.7",
            "Language": null,
            "EncryptFilterName": null,
            "IsLinearized": false,
            "IsAcroFormPresent": false,
            "IsXFAPresent": false,
            "IsCollectionPresent": false,
            "IsSignaturesPresent": false,
            "Author": "",
            "CreationDate": "D:20251218010105+05'00'",
            "ModDate": "D:20251218010105+05'00'",
            "Producer": "Microsoft: Print To PDF",
            "Title": "kashifullah-n8n dev"
          },
          "text": "Kashif Ullah\nn8n Workflow & AI Engineer\nEmail:kashifullah.dev@gmail.com LinkedIn:https://www.linkedin.com/in/kashif-ullah-46b60520\nGithub:https://github.com/kaashe\nSUMMARY\nn8n Automation Engineer with hands-on experience designing, building, and deploying AI-\npowered workflows, outgoing voice agents, and social media automation systems. Strong\nfoundation in JavaScript, API integrations, webhooks, and no-code/low-code automation.\nProven ability to automate real-world business processes such as automated calling, LinkedIn\ncontent posting, and AI-driven decision workflows using n8n, Plivo, Ultravox, and external\nAPIs.\nEXPERIENCE\nJunior n8n developer\nBellmedex (\nOctober 2025 - Present)\n⦁ Developed an AI-powered outgoing calling system using n8n workflow automation to\nautomate customer outreach and notifications.\n⦁ Integrated Plivo VoIP API for outbound telephony and UltraVox AI voice engine for\nnatural, AI-driven voice interactions.\n⦁ Engineered webhook-triggered automation to initiate calls dynamically based on external\nevents or user actions.\n⦁ Implemented secure credential management using n8n's built-in credential vault to\nprotect API keys and sensitive data.\n⦁ Reduced manual calling efforts by 80% through full automation, improving operational\nefficiency and scalability.\n⦁ Designed modular and reusable workflow components to support future expansions and\nintegrations.\n⦁ Configured call logging and status tracking to monitor performance and ensure delivery\nreliability.\nPROJECTS\nSocial Media Posting Agent\n⦁ Built an automated social media posting agent for LinkedIn using n8n.\n⦁ Implemented OAuth-based authentication for LinkedIn API.\n⦁ Automated daily post scheduling using Cron nodes.\n⦁ Enabled dynamic content generation using AI prompts and structured JSON inputs.\n⦁ Technologies: n8n, LinkedIn API, JavaScript, HTTP Request Nodes\nSmart Salon Scheduler\n⦁ Developed an AI-powered salon appointment booking virtual assistant using n8n\nworkflow automation.\n⦁ Integrated LangChain AI agents with Google Calendar to manage real-time appointment\nscheduling.\n⦁ Implemented conversational logic to guide users through booking steps: day selection,\navailability checks, and detail collection.\n⦁ Configured tools for checking calendar availability and creating appointments with\n1\n\nvalidation and error handling.\n⦁ Designed system prompts and memory management to maintain context-aware, user-\nfriendly interactions.\nEDUCATION\nBSCS\nKUST • Kohat • 2020 • 3.08\nSKILLS\nn8n Workflow Automation • JavaScript/React • AI Agent Development • REST API Integration •\nLangChain • Voice AI (Plivo/UltraVox) • Google Calendar API • Project Leadership • Technical\nCommunication\n2",
          "version": "5.3.31"
        },
        "binary": {}
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": {
            "fullName": "Kashif Ullah",
            "email": "kashifullah.dev@gmail.com",
            "cSharpYearsExperience": 0,
            "notableQualifications": "Bachelor of Science in Computer Science (BSCS) with a GPA of 3.08 from KUST, Kohat in 2020.",
            "notableWorkExperience": "Currently working as a Junior n8n Workflow Automation Engineer with experience in designing and deploying AI-powered workflows, developing automation systems including social media posting and AI-driven calling systems. Skilled in JavaScript and React, API integrations, webhook-based automation, and voice AI technologies such as Plivo and UltraVox. Projects include an AI-powered outgoing calling system and automated LinkedIn social media posting agent using JavaScript within n8n workflows.",
            "Recommended": true
          }
        }
      }
    ],
    "Send a message": [
      {
        "json": {
          "data": {
            "approved": false
          }
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ba026cb5-5b0a-4cbf-b4b2-2b56c128a376",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0d0fd136349ef42b5ef8f3303011aec8311b2cb5ee421d1d9b850b69395736c"
  },
  "id": "4cYU5fBKD7FZxowF",
  "tags": []
}