Scrape recent news - company/Scrape recent news - company.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apiKey",
              "stringValue": "32aa914c947342169c4998b6701a77e0"
            },
            {
              "name": "newsAge",
              "type": "numberValue",
              "numberValue": "10"
            },
            {
              "name": "maxArticles",
              "stringValue": "20"
            },
            {
              "name": "emails"
            }
          ]
        },
        "options": {}
      },
      "id": "6440275a-467b-48bd-8332-195ddc166170",
      "name": "Setup",
      "type": "n8n-nodes-base.set",
      "position": [
        320,
        336
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "companyName",
              "stringValue": "={{ $json.summary.toLowerCase().replace('meeting with', '').replace('call with', '').trim() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6929b8ca-cad4-4ead-995a-72b12f3c1549",
      "name": "Extract company name",
      "type": "n8n-nodes-base.set",
      "position": [
        1008,
        128
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "### Latest company news before a call\n\nThis workflow will send you a list of latest news about a company for every meeting in your calendar each day, keeping you up to date with your leads and meeting partners.\n",
        "height": 192,
        "width": 436,
        "color": 4
      },
      "id": "a3be5883-bf69-4ecb-b9c6-9c7ff7910400",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "c09752ae-fde5-45ca-a947-c28c40da82c6",
      "name": "Every morning @ 7",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        96,
        336
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "bcfb06b1-d365-43a8-9802-869529baca98",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json.summary.toLowerCase() }}",
              "rightValue": "call with"
            },
            {
              "id": "4ea43ccf-d586-4985-87db-fc1e9f734351",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json.summary.toLowerCase() }}",
              "rightValue": "meeting with"
            }
          ]
        },
        "options": {}
      },
      "id": "c8ce9de0-b77f-4e15-81d1-0467797802aa",
      "name": "Filter meetings",
      "type": "n8n-nodes-base.if",
      "position": [
        736,
        336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything?apiKey={{ $('Setup').first().json.apiKey }}&q={{ $json.companyName }}&from={{ DateTime.now().minus({ days: $('Setup').first().json.newsAge }).toFormat('yyyy-MM-dd') }}&sortBy=publishedAt&language=en&pageSize={{ $('Setup').first().json.maxArticles }}&searchIn=title",
        "options": {}
      },
      "id": "594f2a29-1f70-4824-a587-df14a66f3eb8",
      "name": "Get latest news",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1200,
        128
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let html = `<table style=\"width: 100%\">`;\nhtml += '</table>';\n\nfor(article of $input.item.json.articles) {\n  console.log(article)\n  html += `\n    <tr>\n      <td style=\"display: flex; background-color: #f2f4f8; font-family: sans-serif; padding: 0.3em 0.5em\">\n        <div style=\"padding: 1em\">\n          <a style=\"display: block; margin-bottom: 10px; font-size: 1.2em\" href=\"${article.url}\">${article.title}</a>\n          <i>\n            ${article.description ? article.description : article.content}\n          </i>\n          <div style=\"margin-top: 1em\">\n            ${ article.source?.name ? '<b>Source:</b> ' + article.source?.name : '' }\n          </div>\n        </div>\n      </td>\n    </tr>\n  `\n}\nreturn { \"html\": html };"
      },
      "id": "de3d3b52-a362-41c1-bbc2-cf0ab1c02d36",
      "name": "Format for email",
      "type": "n8n-nodes-base.code",
      "position": [
        1408,
        128
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sendTo": "={{ $('Setup').first().json.emails }}",
        "subject": "=Latest news for '{{ $('Extract company name').item.json.summary }}'",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "7d2e1628-6a59-4d3c-ae95-25b49c2501f9",
      "name": "Send news",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1600,
        128
      ],
      "typeVersion": 2.1,
      "webhookId": "0f148756-4200-439b-90ec-fd165791da24"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Configure your workflow here\n1. `apiKey` - Your API key for [News API](https://newsapi.org)\n2. `newsAge` - How old should news be, in days\n3. `maxArticles` - Number of articles that will be sent, max 100\n4. `emails`- List of email addresses that should receive the news, separated by commas",
        "height": 511.499984507795
      },
      "id": "dd3acf81-e741-452b-a905-cd75a7498047",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\nThis will get all meetings that start with *Meeting with* or *Call with* but feel free to update the filter to suit your needs.",
        "height": 275.2500697149263,
        "width": 231.52514020446353
      },
      "id": "5534e0cd-4749-4b32-8138-6f5efa33ddb1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "1df37745-6d41-41d1-8d0e-175eb90da0e5",
      "name": "No meetings today",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1600,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "user@example.com",
          "cachedResultName": "user@example.com"
        },
        "options": {
          "timeMin": "={{ $today }}",
          "timeMax": "={{ $today.plus({ days: 1 }) }}",
          "singleEvents": true
        }
      },
      "id": "021b352a-4fce-4af2-9a62-fb5bacc8272c",
      "name": "Get meetings for today",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        560,
        336
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Setup": {
      "main": [
        [
          {
            "node": "Get meetings for today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter meetings": {
      "main": [
        [
          {
            "node": "Extract company name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No meetings today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get latest news": {
      "main": [
        [
          {
            "node": "Format for email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for email": {
      "main": [
        [
          {
            "node": "Send news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every morning @ 7": {
      "main": [
        [
          {
            "node": "Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract company name": {
      "main": [
        [
          {
            "node": "Get latest news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get meetings for today": {
      "main": [
        [
          {
            "node": "Filter meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "298e36a7-02ff-4f6b-8165-60ee693f5c77",
  "meta": {
    "instanceId": "42b194d60262ed5aead1f4b26f24f634d4e383e89bbe3d6462d7d6039e180b67"
  },
  "id": "9m9j3D1CNB57OVVF",
  "tags": []
}